/* Empty. Add your own CSS if you like */


.minigame_img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
    height:100%;
    margin:0;
    padding:0;
}

.card {
    border-radius: 6px;
    border: 1px solid gray;
}

.list.card.answer {
    height: 150px;
    width: 150px;
}

.list.imagetext {
    height: 250px;
    width: 250px;
    display: block;
    margin: auto;
}

.img_txt_minigame {
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.button {
    border-color: gray;
    background-color: white;
}
