
<ion-view title="Courses" ng-controller="courseCtrl">

  <ion-list>
    <div ng-repeat="course in courses">
      <ion-item class="item-stable"
                ng-click="toggleGroup(course)"
                ng-class="{active: isGroupShown(course)}">
        <i class="icon" ng-class="isGroupShown(course) ? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
        {{ course.name }}
      </ion-item>
      <ion-item class="item-accordion"
                ng-repeat="lesson in course.lessons"
                ng-show="isGroupShown(course)"
                ng-click="goToLesson( lesson )">
        {{ lesson.name }} : {{ lesson.description }}
      </ion-item>
      <ion-item class="item-accordion"
                ng-show="isGroupShown(course)"
                ng-click="goToTest(course.courseID)">
        Test
      </ion-item>
    </div>
  </ion-list>









</ion-view>
