<ion-view title="Multiple Choice Game" hide-back-button="true" ng-controller="game-multichoiceCtrl" >
  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="close()">
      Close
    </button>
  </ion-nav-buttons>

    <ion-content>
      <div class="card">
        <div class="item item-text-wrap">
          {{ question.question }}
        </div>
      </div>
      <div class="row">
        <div class="col col-center-50">
          <button class="button button-block" data-ng-click="answerQuestion(question.items[0].itemID)">
            {{ question.items[0].name }}
          </button>
        </div>
        <div class="col col-center-50">
          <button class="button button-block" data-ng-click="answerQuestion(question.items[1].itemID)">
            {{ question.items[1].name }}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col col-center-50">
          <button class="button button-block" data-ng-click="answerQuestion(question.items[2].itemID)">
            {{ question.items[2].name }}
          </button>
        </div>
        <div class="col col-center-50">
          <button class="button button-block" data-ng-click="answerQuestion(question.items[3].itemID)">
            {{ question.items[3].name }}
          </button>
        </div>
      </div>
    </ion-content>

</ion-view>
