<ion-view title="Multiple-Choice Image Mini-Game" hide-back-button="true" ng-controller="game-multiimagesCtrl">
  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="close()">
      Close
    </button>
  </ion-nav-buttons>

  <ion-content>
      <div class="card">
        <div class="item item-text-wrap">
          {{ question.question }}
        </div>
      </div>
      <div class="row">
        <div class="col col-center-50">
          <div class="list card answer" data-ng-click="answerQuestion(question.items[0].itemID)">
            <img class="minigame_img" ng-src="img/{{question.items[0].image}}"/>
          </div>
        </div>
        <div class="col col-center-50">
          <div class="list card answer" data-ng-click="answerQuestion(question.items[1].itemID)">
            <img class="minigame_img" ng-src="img/{{question.items[1].image}}"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-center-50">
          <div class="list card answer" data-ng-click="answerQuestion(question.items[2].itemID)">
            <img class="minigame_img" ng-src="img/{{question.items[2].image}}"/>
          </div>
        </div>
        <div class="col col-center-50">
          <div class="list card answer" data-ng-click="answerQuestion(question.items[3].itemID)">
            <img class="minigame_img" ng-src="img/{{question.items[3].image}}"/>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
