<ion-view title="User Input" hide-back-button="true" ng-controller="game-userinputCtrl">
  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="close()">
      Close
    </button>
  </ion-nav-buttons>

    <div class="list">

        <div class="item" >
            <div class="card">
                <div class="item item-text-wrap">
                    {{ question.question }}
                </div>
            </div>
        </div>


        <div class="item">
            <label class="item item-input">
                <span class="input-label">Answer:</span>
                <input type="text" ng-model="input.value">
            </label>
        </div>

        <div class="padding" ng-click="answerQuestion(input.value)">
            <button class="button button-block button-positive" >
                Check Answer
            </button>
        </div>

    </div>

</ion-view>
