<ion-view title="Grades" ng-controller="gradeCtrl">

  <ion-list>
    <ion-item class="item-stable"
              ng-repeat="grade in grades"
              ng-click="goToCourses(grade.gradeid)">
      {{ grade.name }}
    </ion-item>
  </ion-list>

  <div class="padding" ng-click="exitApp()">
    <button class="button button-block button-positive">
      Exit
    </button>
  </div>
</ion-view>
