<ion-view title="Welcome" hide-back-button="true" ng-controller="homeCtrl">

    <div>
        <img class="logo" src="img/mtlogo.png" />
    </div>

    <div class="card">
        <div class="item item-text-wrap text-center">
          Thanks for using this app!
        </div>

    </div>

    <div class="padding" ng-click="grades()">
        <button class="button button-block button-positive">
            Get Started!
        </button>
    </div>

</ion-view>


