
<ion-view view-title="Login" ng-controller="loginCtrl">

    <div class="list">
        <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" ng-model="user.email">
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="user.password">
        </label>
    </div>
    <div class="padding">
        <button class="button button-block button-positive" ng-click="logIn(user)">
            Sign-In
        </button>
        <p class="text-center">
            <a href="#/forgot-password">Forgot password</a>
        </p>
    </div>


    <!--<ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="user.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="login()">Login</button>
        <p class="text-center">
            <a href="#/forgot-password">Forgot password</a>
        </p>
    </ion-content>-->

</ion-view>
