<ion-view title="Results" hide-back-button="true" ng-controller="resultsCtrl">

  <ion-content>
    <div ng-if="isTest == 0">

      <ion-list>
        <ion-item class="item-divider">Questions</ion-item>
        <div ng-if="isTest == 0">
          <ion-item ng-repeat="question in questions track by $index">
            Question {{ $index+1 }}: {{ question.question }}
            <div ng-if="results[$index] == 1">
              <b>Correct</b>
            </div>
            <div ng-if="results[$index] == 0">
              <b>Wrong</b>
            </div>

            <div ng-if="claimed[$index] == 0">
              <p>Answer correctly to claim EXP!</p>
            </div>
          </ion-item>
        </div>
      </ion-list>

      <div ng-if="isTest == 0">
        <div class="item item-text-wrap">
          <p>EXP:</p>
          <progress id="progressbar" max="100" value="{{ experience }}"></progress>
        </div>
      </div>
      <button class="button button-block button-positive" ng-click="goToGrades()">
        Back to Grades
      </button>

    </div>

    <div ng-if="isTest == 1">

      <h1>Test Completed</h1>
      <div class="item item-text-wrap">
        <p>Results:</p>
        {{ correct }} / {{ total }}
      </div>
        <button class="button button-block button-positive" ng-click="goToGrades()">
            Back to Grades
        </button>
    </div>

  </ion-content>

</ion-view>
